@import "../variables";

.project {
  background-color: $bg-color;
  hr {
    border: 2px solid #222831;
    margin: 0 45% 1.5rem;
    @media only screen and (max-width: $breakpoint-mobile) {
      margin: 0 40% 2rem;
    }
  }

  .project-tab {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .tab-button {
      background: none;
      color: #000000;
      border: none;
      font-family: $primaryFont;
      margin: 0 1rem;
      font-weight: $light;
      &:hover {
        background-color: $cta-color;
        box-shadow: 0 2px 10px $text-header;
        border-radius: 0.2rem;
        color: #ffffff;
      }
      @media only screen and (max-width: $breakpoint-mobile) {
        margin: 0;
      }
    }
  }
}
