@keyframes slide-right {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px #00adb5;
  }
  to {
    box-shadow: 0 0 20px #00adb5;
  }
}
.home {
  min-height: 100vh;
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  background-color: #222831;
  background: url("https://i.gifer.com/Ir4.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home .home-content {
  padding: 0 5%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .home .home-content {
    flex-direction: column;
  }
}
.home .home-content .title-home {
  width: 100%;
  animation: slide-right 1s ease-out 0s;
  padding: 3rem;
}
@media only screen and (max-width: 600px) {
  .home .home-content .title-home {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    animation: none;
  }
}
.home .home-content .title-home h1 {
  text-align: left;
  color: #eeeeee;
  font-weight: 100;
  font-size: 3rem;
  margin-bottom: 0;
}
.home .home-content .title-home h1 span {
  font-weight: 300;
  font-size: 3.3rem;
  color: #00adb5;
}
@media only screen and (max-width: 600px) {
  .home .home-content .title-home h1 {
    text-align: center;
  }
}
.home .home-content .title-home p {
  color: #eeeeee;
  text-align: left;
  font-weight: 100;
  padding-right: 15%;
}
@media only screen and (max-width: 600px) {
  .home .home-content .title-home p {
    text-align: center;
  }
}
.home .home-content .title-home .cta {
  display: flex;
  justify-content: flex-start;
}
@media only screen and (max-width: 600px) {
  .home .home-content .title-home .cta {
    flex-direction: column;
  }
}
.home .home-content .title-home .cta a {
  margin-right: 1rem;
  letter-spacing: 0.5px;
  color: #00adb5;
  border: 2px solid #00adb5;
  font-weight: 300;
  padding: 0.5rem 1.5rem 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 0 10px #00adb5;
  transition: all 0.2s ease-in-out 0.05s;
  animation: glow 0.5s ease-in-out 0.05s infinite alternate;
}
.home .home-content .title-home .cta a:hover {
  background-color: #222831;
  color: #ff2e63;
  border: 2px solid #ff2e63;
  box-shadow: 0 0 10px #ff2e63;
  animation: none;
  transform: scale(1.05);
}
@media only screen and (max-width: 600px) {
  .home .home-content .title-home .cta a {
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .home .home-content .title-home h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .home .home-content .title-home h1 span {
    font-size: 1.8rem;
  }
  .home .home-content .title-home h3 {
    font-size: 1.3rem;
    text-align: center;
  }
}
.home .home-content .graphics {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home .home-content .graphics img {
  width: 100%;
  height: auto;
  padding: 1rem;
}
@media only screen and (max-width: 600px) {
  .home .home-content .graphics img {
    padding-left: 1rem;
    height: auto;
  }
}
.home .home-content .graphics .social-links {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}
@media only screen and (max-width: 600px) {
  .home .home-content .graphics .social-links {
    bottom: 0.5rem;
    right: 1rem;
  }
}
.home .home-content .graphics .social-links .social-icons {
  color: #00adb5;
  margin-left: 1rem;
  transition: all 0.2s ease-in-out 0.05s;
}
.home .home-content .graphics .social-links .social-icons:hover {
  transform: scale(1.3);
}

/*# sourceMappingURL=home.css.map */
