@import "./variables";

.primary-heading {
  font-size: 5rem;
  font-weight: $bold;
  letter-spacing: -2px;
  color: $eerie-black;
}

.secondary-heading {
  font-size: 4rem;
  font-weight: $medium;
}

.tertiary-heading {
  font-size: 2rem;
  font-weight: $light;
  color: $eerie-black-fade;
  line-height: 1;
}

.heading-desc {
  font-size: 1.5rem;
  font-weight: $light;
  color: $eerie-black-fade;
  line-height: 1.25;
}

@mixin icon-round {
  width: 3rem;
  height: 3rem;
  padding: 12px;
  border-radius: 50%;
}
