
//Colors
$primary-color: #11999E;
$secondary-color: #181818;
$cta-color: #FF2E63;
$bg-color: #1d1d1d;
$text-color: #E4F9F5;

$white-color: #fff;
$black-color: #000;


@mixin text-body {
  color: #393e46;
  opacity: 0.8;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Fonts Family
$primaryFont: 'Source Sans Pro', sans-serif;

// Font weight
$extra-light: 200;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 900;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
