@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

//Colors
$color-bg: #ffffff;
$color-bg-offset: #f7f7f9;
$color-text: #373a3c;
$color-text-offset: #818a91;
$color-border: #eceeef;
$color-primary: #ff335f;
$color-primary-offset: #ff1447;
$color-secondary: #43a9a3;

$eerie-black: #1c1c1cff;
$eerie-black-fade: #1c1c1cb3; //b3 is for 70% opacity
$platinum: #daddd8ff;
$alabaster: #ecebe4ff;
$antiflash-white: #eef0f2ff;
$ghost-white: #fafaffff;


//Fonts Family
$fontFamily: "Figtree", "Roboto", "Rubik", "Source Sans 3", "Source Sans Pro",
  sans-serif;

// Font weight
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
