
//Colors
$dark-black: #222831;
$light-black: #393e46;
$primary: #00adb5;
$secondary: #ff2e63;
$grey: #eeeeee;


//Fonts Family
$primaryFont: 'Roboto Slab', serif;
$secondaryFont: 'Roboto', sans-serif;

//Font weight
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;


$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;