@import "./variables";



.about {
  background-color: $color-bg;
  padding-top: 3rem;
  border-radius: 20px 20px 0 0;
  h3 {
    margin: 1rem 0 0.5rem;
    color: $color-text;
  }
  hr {
    border: 2px solid #222831;
    margin: 0 47% 1.5rem;
    @media only screen and (max-width: $breakpoint-mobile) {
      margin: 0 40% 2rem;
    }
  }
  h5 {
    margin-top: 1rem;
  }
  p {
    font-weight: 300;
    @media only screen and (max-width: $breakpoint-mobile) {
      margin: 0 0 2rem;
    }
  }

  .about-top {
    margin-bottom: 5rem;
    img {
      border: 3px solid $color-primary;
      border-radius: 50%;
      width: 50%;
      height: auto;
      margin-top: 2rem;
    }
    .about-me {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      h4 {
        margin-top: 2rem;
        font-weight: 500;
        text-align: left;
        @media only screen and (max-width: $breakpoint-mobile) {
          text-align: center;
          margin-bottom: 0;
        }
      }
      p {
        text-align: left;
        margin-bottom: 0.5rem;
        @media only screen and (max-width: $breakpoint-mobile) {
          text-align: center;
        }
      }
      a {
        text-align: left;
        text-decoration: none;
        color: $color-primary;
        &:hover {
          color: $color-primary;
          font-size: 1.02rem;
        }
        @media only screen and (max-width: $breakpoint-mobile) {
          text-align: center;
        }
      }
    }
  }
.flip-x {
  transform: scale(1);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.01s;
  &:hover{
    transform: scale(1.1);
  }
}
}
