@import "./variables";
@import "./common";

.project-card {
  a {
    text-decoration: none;
    .card {
      box-shadow: 0 0 10px 2px $alabaster;
      border-radius: 5px;
      border-color: $platinum;
      padding: 2px;
      transition: box-shadow 0.3s ease;
      img {
        border-radius: 5px 5px 0 0;
      }
      .project-card-body {
        .card-title {
          font-size: 1.5rem;
          font-weight: $regular;
          color: $eerie-black;
          line-height: 1;
        }
        .card-text {
          font-size: 1.1rem;
          font-weight: $light;
          color: $eerie-black-fade;
          line-height: 1;
        }
      }
    }
    &:hover .card {
      box-shadow: 2px 5px 15px 5px $alabaster; /* Adjust the values as needed */
    }
  }
}
