@import "./variables";

.project-card {
  border-radius: 5px;
  margin-bottom: 1.5rem;

  .project-card-body {
    h5 {
      font-family: $primaryFont;
      font-weight: $regular;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    span {
      margin-bottom: 1rem !important;
      font-style: italic;
      font-weight: $light;
    }
    .card-buttons {
      margin: 1rem 0;
      a {
        flex-wrap: wrap;
        border: 1px solid $color-primary;
        color: $color-primary;
        border-radius: 25px;
        font-family: $primaryFont;
        font-weight: $light;
        margin: 0 0.5rem;
        padding: 4px 20px;
      }
    }
  }
}
