@import "./variables";

.contact {

  background-color: $color-text;
  border-radius: 0.5rem 0.5rem 0 0;
  h3 {
    color: $color-bg;
  }

  hr {
    border: 2px solid $color-bg;
    margin: 0 47% 1.5rem;
    @media only screen and (max-width: $breakpoint-mobile) {
      margin: 0 40% 2rem;
    }
  }

  p {
    color: $color-primary;
  }

  .my-contact {
    color: $color-bg;
    padding-bottom: 2rem;

    a {
      color: $color-bg;
    }
  }

  .contact-form {
    margin: 0 35%;
    @media only screen and (max-width: $breakpoint-mobile) {
      margin: 0 10%;
    }
    .form-content {
      input {
        text-align: left;
      }
      .message {
        height: 200px;
      }
    }

    .submit-button {
      border: 1px solid $color-primary;
      color: $color-primary;
      margin-top: 1rem;
      margin-bottom: 3rem;
      &:hover {
        background-color: $color-primary;
        color: #ffffff;
      }
    }
  }
}
