@import "./variables";

.contact {

  background-color: $text-header;
  border-radius: 0.5rem 0.5rem 0 0;
  h3 {
    color: $bg-color;
  }

  hr {
    border: 2px solid $bg-color;
    margin: 0 47% 1.5rem;
    @media only screen and (max-width: $breakpoint-mobile) {
      margin: 0 40% 2rem;
    }
  }

  p {
    color: $azure;
  }

  .my-contact {
    color: $bg-color;
    padding-bottom: 2rem;

    a {
      color: $bg-color;
    }
  }

  .contact-form {
    margin: 0 35%;
    @media only screen and (max-width: $breakpoint-mobile) {
      margin: 0 10%;
    }
    .form-content {
      input {
        text-align: left;
      }
      .message {
        height: 200px;
      }
    }

    .submit-button {
      border: 1px solid $azure;
      color: $azure;
      margin-top: 1rem;
      margin-bottom: 3rem;
      &:hover {
        background-color: $azure;
        color: #ffffff;
      }
    }
  }
}
