@import "./variables";
@import "./common";

#contact {
  box-shadow: 0px 2px 8px $platinum;
  .contact-details {
    padding-top: 7rem;
    box-shadow: 0px 2px 8px $platinum;

    .contact-social {
      font-size: 3rem;
      padding-bottom: 5rem;

      .tertiary-heading {
        padding-bottom: 3rem;
      }
      a {
        text-decoration: none;
      }
      span {
        padding-left: 1rem;
        font-size: 1.5rem;
        font-weight: $semi-bold;
      }
      .social-linkedIn {
        color: $ghost-white;
        .icon {
          @include icon-round;
          background-color: #0982c0;
        }
        span {
          color: #0982c0;
        }
      }
      .social-github {
        color: $ghost-white;
        .icon {
          @include icon-round;
          background-color: $eerie-black;
        }
        span {
          color: $eerie-black;
        }
      }
      .social-instagram {
        color: $ghost-white;
        .icon {
          @include icon-round;
          background-color: #ef0074;
        }
        span {
          color: #ef0074;
        }
      }
      .social-mail {
        color: $ghost-white;
        .icon {
          @include icon-round;
          background-color: #fbbc05;
        }
        span {
          color: #fbbc05;
        }
      }
    }
    .contact-image {
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 0 1.5rem;
      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 30px;
      }
    }
  }
  .contact-form {
    padding: 7rem 0 3rem 0;
    .contact-input-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      label {
        font-size: 1.3rem;
        font-weight: $light;
        color: $eerie-black-fade;
        line-height: 1;
        margin-bottom: 0.5rem;
      }
      input {
        border-radius: 4px;
        border: $eerie-black-fade solid 1px;
        width: 100%;
        font-size: 2.5rem;
        padding: 0 1.6rem;
      }
    }
    .message {
      height: 100%;
      #message {
        height: 100%;
      }
    }

    .submit-button {
      margin: 0.5rem 0 2rem 0;
      border: 1px solid $eerie-black;
      background-color: $eerie-black;
      color: $ghost-white;
      &:hover {
        background-color: $ghost-white;
        color: $eerie-black;
      }
    }
  }
}
