@import "./variables";

#footer {
  .footer-items {
    font-size: 1.5rem;
    padding: 1rem 0;
    .footer-copyright {
      span {
        margin: 0 1rem;
      }
    }
    .footer-social {
      text-align: right;
      a {
        margin: 0 1rem;
        font-size: 2rem;
        color: $eerie-black;
      }
    }
  }
}
