@import "./variables";

#footer {
  .footer-items {
    font-size: 1rem;
    padding: 1rem;
    .footer-copyright {
      display: flex;
      align-items: center;
      span {
        margin: 0 1rem;
      }
      @include media-breakpoint-down(sm) {
        justify-content: center;
      }
    }
    .footer-social {
      text-align: right;
      display: flex;
      justify-content: end;
      a {
        margin: 0 1rem;
        font-size: 1.5rem;
        color: $eerie-black;
        @include media-breakpoint-down(sm) {
          display: flex;
          padding-top: 1rem;
          font-size: 1.25rem;
        }
      }
      @include media-breakpoint-down(sm) {
        display: flex;
        justify-content: center;
      }
    }
  }
  
}
