@import "./variables";


.footer-items {
    background-color: $secondary-color;
    padding-top: 2rem;
    
  .footer-copyright {
    color: #ffffff;
    margin-top: 1rem;
    padding-bottom: 1rem;
    span {
      color: $azure;
    }
  }
  
}
