@import "./variables";

.header {
  padding: 2rem 1rem 0;

  .navbar-toggler {
    scale: 0.75;
    border: none;
  }

  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  span {
    padding-left: 0.75rem;
    color: $color-text;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: 1.5rem;
  }

  .header-content {
    justify-content: end;

    .header-items {
      color: $color-text;
      padding: 0 1.25rem;
    }
  }
}
