@import "variables";

.home {
  height: 100vh;
  width: auto;
  @include flex-center; //flex-center mixin
  flex-direction: column;
  font-family: $font;
  background-color: $primary-color;

  .title-home {

    h1 {
      color: $bg-color;
      font-weight: $light;
      font-size: 3rem;
      margin-bottom: 0;
      @media only screen and (max-width: $breakpoint-mobile) {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
      }

      span {
        font-weight: $regular;
        font-size: 3.5rem;
        color: $bg-color;
        @media only screen and (max-width: $breakpoint-mobile) {
          font-size: 2rem;
        }
      }
    }

    h3 {
      color: $bg-color;
      font-weight: $light;
      font-size: 2rem;
      text-align: right;
      margin-bottom: 2rem;
      @media only screen and (max-width: $breakpoint-mobile) {
        font-size: 1.3rem;
        text-align: center;
      }
    }

    a {
      color: $bg-color;
      border: 2px solid $bg-color;
      font-weight: $light;
      padding: 0.5rem 1.5rem 0.75rem 1.5rem;
      text-decoration: none;
      border-radius: 3px;
      transition-property: all;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
      &:hover {
        background-color: $tertiary-color;
        color: #ffffff;
        border: none;
        font-size: 1.05rem;
      }
    }
  }
}
