@import "./variables";

.custom-nav {
    background-color: $secondary-color !important;
    span {
      color: #ffffff;
      font-family: $primaryFont;
      font-weight: $light;
      &:hover{
        color: $secondary-color;
        font-size: 1.05rem;
      }
    }
  }
  

