@import "./variables";

.portfolio-nav {
  padding: 1rem 0 1rem 0;
  background-color: $secondary-color !important;
  ul {
    justify-content: flex-end;
    span {
      font-family: $primaryFont;
      font-weight: $light;
      transition: all 0.2s ease-in-out 0.05s;
      &:hover {
        color: $primary-color;
        font-weight: $regular;
      }
    }
  }
}
