@import "variables";

.project {
  background-color: $color-bg;
  padding: 7rem 0;

  h3 {
    text-transform: uppercase;
      font-weight: $semi-bold;
      font-size: 2rem;
      color: $color-text;
  }

  .project-tab {
    margin-bottom: 1rem;
    .tab-button {
      background: none;
      color: #000000;
      border: none;
      font-family: $primaryFont;
      margin: 0 1rem;
      font-weight: $light;
      &:hover {
        background-color: $color-primary;
        border-radius: 0.2rem;
        color: #ffffff;
      }
      @media only screen and (max-width: $breakpoint-mobile) {
        margin: 0;
      }
    }
  }
}
